/.vs/

# Direct CMake build
/build/

# Build using Visual Studio
/out/

# MSVC build artifacts
extension/Debug/
extension/Release/
extension/MinSizeRel/
extension/RelWithDebInfo/
extension/extension.dir/
*.user